# Jekyll
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# OS crap
.DS_Store
.DS_Store?
__MACOSX/
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out

# WSL crap
*:Zone.Identifier*