---
title: About Me - Richard Lamb
description: Richard Lamb is a Computer Engineering and Computer Science student at UW-Madison.
layout: nocompress
permalink: /about

_bio-short: "Computer Engineering and Computer Science student at UW-Madison"
#_bio-long: >-
_location: "Madison, WI, United States"
---

<head>
    {% include head.html %}
    <style>
        #profile-picture-container {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            overflow: hidden;
        }

        #profile-picture {
            object-fit: cover;
            position: relative;
            transform: scale(0.5);
            top: -110px;
            left: -75px;
        }
    </style>
    <title>{{ page.title }}</title>
</head>

<body>
    <script src="/lib/bootstrap-5.3.8-dist/js/bootstrap.min.js"></script>
    {% include header.html %}

    <!-- Main Content-->
    <main class="container my-md-4">
        <div class="col-lg-12">
            <div class="row">

                <!-- Left Column -->
                <div class="col-lg-3">

                    <!-- Short Bio and Summary -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="d-flex justify-content-center">
                                <div id="profile-picture-container">
                                    <img id="profile-picture" src="assets/img/khk2025.jpg"
                                        alt="Richard Lamb's profile picture" />
                                </div>
                            </div>
                            <div class="d-flex justify-content-center">
                                <h1 class="mt-2">Richard Lamb</h1>
                            </div>
                            <div class="d-flex justify-content-center">
                                {% for profile in site.social-media %}
                                <a class="text-body mx-2 mb-2" href="{{ profile.url }}" aria-label="{{ profile.name }}"
                                    title="{{ profile.name }}">
                                    <i class="bi {{ profile.icon }}"></i>
                                </a>
                                {% endfor %}
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="text-center">{{ page._bio-short }}</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                {% if page._location %}
                                <h6><a href="https://www.google.com/maps/search/?api=1&query={{ page._location }}"
                                        target="_blank" class="link-body-emphasis link-underline-opacity-0"><i
                                            class="bi bi-geo-alt-fill"></i> {{ page._location }}</a></h6>
                                {% endif %}
                            </div>
                            <div class="d-flex justify-content-center">
                                <h6><a href="https://richardlamb.dev"
                                        class="link-underline link-underline-opacity-0"><i class="bi bi-link-45deg"></i>
                                        https://richardlamb.dev</a></h6>
                            </div>

                        </div>
                    </div>
                    
                    <!-- Skills -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h2 class="card-title mb-4">Skills</h2>
                            <div class="row row-cols-1 justify-content-center">

                                <!-- List of Skills -->
                                <!-- 
                                This is very similar to the list on the homepage, 
                                except that last="true" needs to be added to the last 
                                include so that padding isn't provided under it.
                                 -->
                                {% include about-skill.html type="solid" icon="cube" name="3D Printing" level="Advanced" %}
                                {% include about-skill.html type="regular" icon="comment" name="Adaptability" level="" %}
                                {% include about-skill.html type="solid" icon="globe" name="ArcGIS" level="Intermediate" %}
                                {% include about-skill.html type="solid" icon="cubes" name="AutoCAD" level="Elementary" %}
                                {% include about-skill.html type="solid" icon="dollar-sign" name="Bash" level="Intermediate" %}
                                {% include about-skill.html type="solid" icon="c" name="C/C++" level="Intermediate" %}
                                {% include about-skill.html type="solid" icon="brain" name="Critical Thinking" level="" %}
                                {% include about-skill.html type="brands" icon="css3-alt" name="CSS" level="Advanced" %}
                                {% include about-skill.html type="solid" icon="file-excel" name="Excel" level="Advanced" %}
                                {% include about-skill.html type="brands" icon="git-alt" name="Git" level="Advanced" %}
                                {% include about-skill.html type="brands" icon="html5" name="HTML" level="Advanced" %}
                                {% include about-skill.html type="brands" icon="java" name="Java" level="Advanced" %}
                                {% include about-skill.html type="brands" icon="js" name="JavaScript" level="Advanced" %}
                                {% include about-skill.html type="regular" icon="user" name="Leadership" level="" %}
                                {% include about-skill.html type="brands" icon="linux" name="Linux" level="Advanced" %}
                                {% include about-skill.html type="solid" icon="calculator" name="MATLAB" level="Elementary" %}
                                {% include about-skill.html type="regular" icon="face-smile" name="Positive Attitude" level="" %}
                                {% include about-skill.html type="solid" icon="file-powerpoint" name="PowerPoint" level="Advanced" %}
                                {% include about-skill.html type="brands" icon="python" name="Python" level="Advanced" %}
                                {% include about-skill.html type="solid" icon="bolt" name="Soldering" level="Intermediate" %}
                                {% include about-skill.html type="solid" icon="microchip" name="SystemVerilog" level="Intermediate" %}
                                {% include about-skill.html type="solid" icon="people-group" name="Teamwork" level="" %}
                                {% include about-skill.html type="brands" icon="windows" name="Windows" level="Advanced" %}
                                {% include about-skill.html type="solid" icon="file-word" name="Word" level="Advanced" last="true" %}

                            </div>
                        </div>
                    </div>

                    <!-- End Left Column -->
                </div>

                <!-- Right Column -->
                <div class="col-lg-9">

                    <!-- Long Bio -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">About Me</h1>
                            <p>I am currently an undergraduate student double-majoring in Computer Engineering and Computer Science at the <a
                                    href="https://www.wisc.edu/" target="_blank">University of Wisconsin-Madison</a>. I am also Assistant
                                Treasurer for the <a href="https://delta.khk.org/" target="_blank">Delta Chapter</a> of <a
                                    href="https://www.khk.org/" target="_blank">Kappa Eta Kappa</a>, a co-ed
                                professional engineering fraternity.</p>
                            <p class="m-0">Outside of school, I enjoy getting outdoors, traveling with family, and hanging out with friends.</p>
                        </div>
                    </div>

                    <!-- Education -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">Education</h1>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/education/uwmadison-resized.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>University of Wisconsin-Madison &mdash; <em>Expected Spring 2027</em></h3>
                                    <h6>Bachelor of Science in Computer Engineering</h6>
                                    <h6>Additional major in Computer Science</h6>
                                    <a href="https://www.wisc.edu/" target="_blank">https://www.wisc.edu/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Achievements -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">Achievements</h1>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/scouts.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>Eagle Scout &mdash; <em>Earned 2020</em></h3>
                                    <h6>Scouting America</h6>
                                    <ul>
                                        <li>Earned 33 Merit Badges and Two Eagle Palms</li>
                                        <li>Constructed play spaces at the 
                                            <a href="https://mequonnaturepreserve.org/" target="_blank">Mequon Nature Preserve</a>
                                            for my Eagle Scout Project
                                        </li>
                                    </ul>
                                    <a href="https://www.scouting.org/" target="_blank">https://www.scouting.org/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Leadership -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">Leadership</h1>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/khk/coatOfArms.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>Assistant Treasurer &mdash; <em>Spring 2026</em></h3>
                                    <h6>Delta Chapter, Kappa Eta Kappa - Professional Engineering Fraternity</h6>
                                    <ul>
                                        <li>Assistant Safety Chair &mdash; <em>Fall 2025 & Spring 2026</em></li>
                                        <li>Executive Board Member at Large &mdash; <em>Spring 2025</em></li>
                                    </ul>
                                    <a href="https://delta.khk.org/" target="_blank">https://delta.khk.org/</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Projects -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">Projects</h1>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/icon256x256.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>RichardLamb.dev &mdash; <em>2025-present</em></h3>
                                    <h6>Personal website and blog</h6>
                                    <a href="https://richardlamb.dev" target="_blank">https://richardlamb.dev</a><br />
                                    <a href="https://github.com/RichardLamb1/RichardLamb.dev" target="_blank">https://github.com/RichardLamb1/RichardLamb.dev</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Work Experience -->
                    <div class="card mb-4">
                        <div class="card-body">
                            <h1 class="card-title">Work Experience</h1>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/work_exp/germantown.jpeg" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>Village of Germantown, WI &mdash; <em>Summers 2024 & 2025</em></h3>
                                    <h6>Engineering Intern</h6>
                                    <a href="https://germantownwi.gov/" target="_blank">https://germantownwi.gov/</a>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/work_exp/mequon.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>City of Mequon, WI &mdash; <em>Summers 2022 & 2023</em></h3>
                                    <h6>Engineering Intern</h6>
                                    <a href="https://cityofmequonwi.gov/" target="_blank">https://cityofmequonwi.gov/</a>
                                </div>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-2 align-content-center text-center">
                                    <img src="/assets/img/scouts.png" width="70%" />
                                </div>
                                <div class="col-md-10 align-content-center ps-0">
                                    <h3>Gardner Dam Scout Camp, White Lake, WI &mdash; <em>Summer 2021</em></h3>
                                    <h6>Youth Counselor</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- End Right Column -->
                </div>
            </div>
        </div>
    </main>
    <!-- End Main Content-->

    {% include footer.html %}
</body>