<div class="col d-flex align-items-start">
    <svg class="bi text-body-secondary flex-shrink-0 me-3" width="1.75em" height="1.75em" fill="currentColor"
        aria-hidden="true">
        <use href="/lib/fontawesome-free-7.1.0-web/sprites/{{ include.type }}.svg#{{ include.icon }}" xlink:href="/lib/fontawesome-free-7.1.0-web/sprites/{{ include.type }}.svg#{{ include.icon }}"></use>
    </svg>
    <div>
        <h3 class="fw-bold mb-0 fs-4 text-body-emphasis">{{ include.name }}</h3>
        <p>{{ include.level }}</p>
    </div>
</div>