<div class="col-lg-4">
    <div class="card my-4 text-bg-dark blog-link border-0" title="{{ _post.title }}">
        <!-- Cover Image -->
        {% if _post.image %}
        <img src="{{ _post.image.src }}" alt="{{ _post.image.alt }}" class="card-img" height="200px"
            style="object-fit: cover; filter: brightness(80%)" />
        {% else %}
        <!-- Show a placeholder if there is no cover image available -->
        <svg height="200px" class="card-img" role="img" xmlns="http://www.w3.org/2000/svg">
            <rect width="100%" height="100%" fill="#222222"></rect>
        </svg>
        {% endif %}
        <div class="card-img-overlay text-shadow-1">
            <!-- Date -->
            <span title="{{ _post.date }}" class="small fw-bold">{{ _post.date | date: "%B %_d, %Y"}}</span>
            <!-- Title -->
            <h5 class="card-title my-2 fw-semibold" style="overflow: hidden; color: #FFF;" title="{{ _post.title }}"><a
                    href="{{ _post.url }}" class="stretched-link" style="color: #FFF;">{{ _post.title | truncate: 50 }}</a></h5>
            <!-- Description -->
            <span>{{ _post.description | truncate: 50 }}</span>
        </div>
    </div>
</div>