blockquote {
    --bq-color: var(--bs-body-color);
    --bq-bg: darken(var(--bs-primary-bg-subtle, 15%));
    --bq-border: var(--bs-border-color);
}

@media(prefers-color-scheme: dark) {
    blockquote {
        --bq-color: var(--bs-body-color);
        --bq-bg: lighten(var(--bs-primary-bg-subtle, 15%));
        --bq-border: var(--bs-border-color);
    }
}

blockquote {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: var(--bq-color);
    background-color: var(--bq-bg);
    border-left: .25rem solid var(--bq-border)
}

blockquote h4 {
    margin-bottom: .25rem
}

blockquote>:last-child {
    margin-bottom: 0
}

blockquote+blockquote {
    margin-top: -.25rem
}

blockquote.primary {
    --bq-color: var(--bs-primary-text-emphasis);
    --bq-bg: var(--bs-primary-bg-subtle);
    --bq-border: var(--bs-primary-border-subtle)
}

blockquote.success {
    --bq-color: var(--bs-success-text-emphasis);
    --bq-bg: var(--bs-success-bg-subtle);
    --bq-border: var(--bs-success-border-subtle)
}

blockquote.danger {
    --bq-color: var(--bs-danger-text-emphasis);
    --bq-bg: var(--bs-danger-bg-subtle);
    --bq-border: var(--bs-danger-border-subtle)
}

blockquote.warning {
    --bq-color: var(--bs-warning-text-emphasis);
    --bq-bg: var(--bs-warning-bg-subtle);
    --bq-border: var(--bs-warning-border-subtle)
}

blockquote.info {
    --bq-color: var(--bs-info-text-emphasis);
    --bq-bg: var(--bs-info-bg-subtle);
    --bq-border: var(--bs-info-border-subtle)
}