@media (width < 768px) {
    /* Hide the TOC on small screens */
    .toc-outer {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .toc-outer * {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
}

.toc-outer {
    position: sticky;
    top: 5rem;
}

.toc {
    overflow-y: auto;
    padding-left: 10px;
}

.toc>.toc-list {
    overflow: hidden;
    position: relative;
}

.toc>.toc-list li {
    list-style: none;
}

.toc-list {
    margin: 0;
    padding-left: 0;
}

.toc-list>.toc-list-item>.toc-list>li>a {
    padding-left: 20px;
}

.toc-list>.toc-list-item>.toc-list>.toc-list-item>.toc-list>li>a {
    padding-left: 30px !important;
}

a.toc-link {
    color: var(--bs-secondary-text-emphasis);
    text-decoration: none;
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-bottom: 4px;
}

a.toc-link:hover {
    color: var(--bs-body-color);
}

.is-collapsible {
    max-height: 1000px;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.is-collapsed {
    max-height: 0;
}

.is-collapsed:has(:focus) {
    max-height: 1000px;
}

.is-position-fixed {
    position: fixed !important;
    top: 0;
}

.is-active-link {
    color: var(--bs-primary-text-emphasis) !important;
    background-color: var(--bs-primary-bg-subtle);
}

.toc-link::before {
    background-color: var(--bs-body-bg);
    content: " ";
    display: inline-block;
    height: inherit;
    left: 0;
    position: absolute;
    width: 3px;
}

.toc-link:hover::before {
    background-color: var(--bs-body-color);
}

.is-active-link::before {
    background-color: var(--bs-primary-border-subtle) !important;
}