---
title: Blog
layout: page
description: Richard Lamb's blog
---

<div class="col-lg-12">
    {% include pager.html %}
    <div class="row">

        <!-- Left Column -->
        <div class="col-lg-9">

            <!-- Posts -->
            <style>
                .blog-link {
                    transition: transform 0.2s ease-in-out;
                }

                .blog-link a {
                    transition: all 0.2s;
                    text-decoration: underline;
                    text-decoration-color: transparent;
                }

                .blog-link:hover {
                    transform: translate(0, -0.25em);
                }

                .blog-link a:hover {
                    text-decoration-color: #FFF;
                }

                .text-shadow-1 {
                    text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25);
                }
            </style>
            <div class="row">
                {% for post in paginator.posts %}
                {% include blog-post-card.html %}
                {% endfor %}
            </div>

            <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="col-lg-3">

            <!-- Latest Posts -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Latest Posts</h2>
                    <ul class="m-0">
                        {% for post in site.posts limit:3 %}
                        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- Tags -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Tags</h2>
                    <p class="m-0">
                        {% assign _tags = site.tags | sort %}
                        {% for t1 in _tags %}
                        {% assign tag-color = "RGBA(var(--bs-secondary-rgb))" %}
                        {% for t2 in site.data.tagdata %}
                        {% if t1[0] == t2.name %}
                        {% capture tag-color %}{{ t2.color }}{% endcapture %}
                        {% endif %}
                        {% endfor %}
                        <a href="/blog/tag/{{ t1[0] | slugify }}"><span class="badge rounded-pill" style="background: {{ tag-color }}">{{ t1[0] }}</span></a>
                        {% endfor %}
                    </p>
                </div>
            </div>

            <!-- Archives -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">Archives</h2>
                    <ul class="m-0">
                        {% for post in site.posts %}
                        {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
                        {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
                        {% if month != nmonth %}
                        <li><a href="/blog/{{ post.date | date: '%Y/%m' }}">{{ post.date | date: '%B, %Y' }}</a></li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <!-- End Right Column -->
        </div>
    </div>
</div>
{% include pager.html %}